.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar-logo {
    color: white;
    font-size: 24px;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-menu li a:hover {
    text-decoration: underline;
}
